* {
    box-sizing: border-box;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background: black;
    color: white;
    font-family: sans-serif;
}

a {
    background-color: transparent
}

b,
strong {
    font-weight: bolder
}

img {
    border-style: none
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}